.navbar {
  background-color: #000; }

.navbar-toggler-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer; }

.hamburger {
  height: 3px;
  width: 100%;
  background: #FFF;
  border-radius: 20px;
  padding: 2px 3px; }

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 30px; }

a {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  text-decoration: none; }

li {
  margin-left: 20px; }

a:hover {
  color: #FFC0CB;
  text-decoration: none; }
